html {
    font-family: 'Open Sans', sans-serif;
}
a {
    transition: all .2s linear;
}
a:hover {
    text-decoration: none;
    color: #E04E39;
}
.head-top-line {
    display: flex;
}
.head-line-empty, .header-logo-block {
    width: 24%;
}
.head-top-line-links {
    width: 76%;
    background-color: #623B2A;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
}
.head-top-line-links a {
    color: #fff;
    margin-left: 15px;
}
.head-top-line-links a:hover {
    color: #f08a14;
}
.header-page-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.navbar {
    min-height: 0;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default {
    border: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #C39367;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default .navbar-nav > .active > a {
    color: #2C2A29;
    background-color: transparent;
}
.navbar-nav > li {
    border-right: 1px solid #4e3f30;
    margin: 15px 0;
}
.navbar-nav > li:last-child {
    border-right: none;
}
.header-logo-block img {
    width: 85%;
}
.navigation-title-block {
    width: 76%;
}
.main-title {
    font-size: 18pt;
    color: #623B2A;
}
.title-grey-text {
    font-size: 10pt;
    color: #8a8a8a;
    font-weight: bold;
}
.title-grey-text a {
    color: #8a8a8a;
    text-decoration: underline;
}
.title-grey-text a:hover {
    text-decoration: none;
}
.aside-menu-list {
    padding-left: 0;
}
.left-aside ul {
    list-style: none;
    margin-bottom: 30px;
}
.left-aside ul ul {
    padding-left: 0;
}
.left-aside ul ul li a{
    padding-left: 20px;
}
.aside-menu-list a{
    background-color: #C39367;
    color: #fff;
    display: block;
    padding: 10px 24px 10px 10px;
}
.main-page-block {
    display: flex;
}
.left-aside {
    width: 24%;
}
.main-content {
    width: 76%;
    padding-left: 30px;
}
.aside-menu-list li {
    position: relative;
}
.aside-menu-list .angle-link-menu {
    position: absolute;
    right: 10px;
    z-index: 1;
    padding: 0;
    font-size: 22px;
    top: 5px;
    background-color: transparent;
}
.aside-menu-list .angle-link-menu:hover, .aside-menu-list .angle-link-menu:hover i {
    background-color: transparent;
    color: #F35D17;
}
.aside-menu-list a:hover {
    background-color: #F35D17;
}
.aside-menu-list a:hover i {
    background-color: #F35D17;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #E04E39;
}
.chevron-background:hover {
    color: #C39367;
}
.left-banner-block img {
    width: 100%;
}
.left-banner-block {
    margin-bottom: 30px;
}
.left-working-mode-title, .red-text, .red-text-end {
    color: #E04E39;
    font-size: 18px;
}
.left-working-mode-day {
    font-size: 18px;
}
.red-text {
    display: inline-block;
    width: 30px;
}
.left-working-mode {
    display: flex;
    justify-content: center;
}