html {
    font-family: 'Open Sans', sans-serif;
    color: #644b2d;
}
a {
    transition: all .2s linear;
}
a:hover {
    text-decoration: none;
    color: #E04E39;
}
.head-top-line {
    display: flex;
}
.head-line-empty, .header-logo-block {
    width: 24%;
}
.head-top-line-links {
    width: 76%;
    background-color: #623B2A;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
}
.head-top-line-links a {
    color: #fff;
    margin-left: 15px;
}
.head-top-line-links a:hover {
    color: #E04E39;
}
.header-page-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.navbar {
    min-height: 0;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default {
    border: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #C39367;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default .navbar-nav > .active > a {
    color: #2C2A29;
    background-color: transparent;
}
.navbar-nav > li {
    border-right: 1px solid #4e3f30;
    margin: 15px 0;
}
.navbar-nav > li:last-child {
    border-right: none;
}
.header-logo-block img {
    width: 85%;
}
.navigation-title-block {
    width: 76%;
}
.main-title {
    font-size: 18pt;
    color: #623B2A;
}
.title-grey-text {
    font-size: 10pt;
    color: #8a8a8a;
    font-weight: bold;
}
.title-grey-text a {
    color: #8a8a8a;
    text-decoration: underline;
}
.title-grey-text a:hover {
    text-decoration: none;
}
.aside-menu-list {
    padding-left: 0;
}
.left-aside ul {
    list-style: none;
    margin-bottom: 30px;
}
.left-aside ul ul {
    padding-left: 0;
}
.left-aside ul ul li a{
    padding-left: 20px;
}
.aside-menu-list a{
    background-color: #C39367;
    color: #fff;
    display: block;
    padding: 10px 24px 10px 10px;
}
.main-page-block {
    display: flex;
}
.left-aside {
    width: 24%;
}
.main-content {
    width: 76%;
    padding-left: 30px;
}
.aside-menu-list li {
    position: relative;
}
.aside-menu-list .angle-link-menu {
    position: absolute;
    right: 10px;
    z-index: 1;
    padding: 0;
    font-size: 22px;
    top: 5px;
    background-color: transparent;
}
.aside-menu-list .angle-link-menu:hover, .aside-menu-list .angle-link-menu:hover i {
    background-color: transparent;
    color: #F35D17;
}
.aside-menu-list a:hover {
    background-color: #F35D17;
}
.aside-menu-list a:hover i {
    background-color: #F35D17;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #E04E39;
}
.chevron-background:hover {
    color: #C39367;
}
.left-banner-block img {
    width: 100%;
}
.left-banner-block {
    margin-bottom: 30px;
}
.left-working-mode-title, .red-text, .red-text-end {
    color: #E04E39;
    font-size: 18px;
}
.left-working-mode-day {
    font-size: 18px;
}
.red-text {
    display: inline-block;
    width: 30px;
}
.left-working-mode {
    display: flex;
    justify-content: center;
}
.owl-carousel {
    margin-bottom: 20px;
}
.partners-content a, .main-page-news a {
    color: #C39367;
}
.partners-content a:hover, .main-page-news a:hover {
    color: #623B2A;
}

.news-item-block {
    width: 30%;
    margin-bottom: 30px;
}
.main-page-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-item-img img {
    width: 100%;
}
.main-content {
    color: #644b2d;
}
.partners-content {
    margin-bottom: 30px;
}
.news-item-date, .news-item-read {
    font-size: 11.5px;
}
.news-item-pretext {
    overflow: hidden;
    margin-bottom: 10px;
    height: 111px;
    font-size: 13px;
}
.news-item-link a {
    font-weight: bold;
    text-decoration: underline;
}
.news-item-link a:hover {
    text-decoration: none;
}
.news-item-img {
    margin: 10px 0;
}
.pagination {
    clear: both;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: solid 1px rgb(226,226,226);
    width: 100%;
}
.pagination a {
    color: #C39367;
}
.pagination a:hover {
    color: #623B2A;
}
.pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.pagination li.pagination-start, .pagination li.pagination-start span {
    padding: 0;
}
.pagination li.pagination-start, .pagination li.pagination-next, .pagination li.pagination-end, .pagination li.pagination-prev {
    border: 0;
}

.pagination li {
    display: inline;
    padding: 2px 5px;
    text-align: left;
    margin: 0 2px;
}
.pagination li.pagination-start, .pagination li.pagination-start span {
    padding: 0;
}
.pagenav {
    padding: 2px;
}
.footer-information {
    border-top: 1px solid #623B2A;
}
.footer-page {
    display: flex;
}
.footer-copyright {
    width: 24%;
    padding: 25px 0;
}
.footer-information {
    width: 76%;
    padding: 24px 0;
}
.footer-page {
    color: #644b2d;
}
.footer-page a {
    color: #644b2d;
}
.footer-page a:hover {
    color: #C39367;
}
.footer-social img {
    width: 30px;
}
.form-search-block {
    position: relative;
}
.form-search-block:after {content:""; clear:both; display:table}
.form-search-block form {
    width: auto;
    float: right;
}
.form-search-block input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #C39367;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.form-search-block input:focus {
    width: 300px;
}
.form-search-block button {
    width: 38px;
    height: 38px;
    background: none;
    border: none;
    position: absolute;
    top: 1px;
    right: 0;
}
.form-search-block button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #644b2d;
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#button-up {
    display:none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 30px;
    outline:none;
    width: 60px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url("../images/scrolltop.png") no-repeat 7px 11px #ffffff;

    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor:pointer;
}
#button-up span {
    display: block;
    width: 48px;
    height: 66px;
}