html {
    font-family: 'Open Sans', sans-serif;
    color: #644b2d;
}
a {
    transition: all .2s linear;
}
a:hover {
    text-decoration: none;
    color: #E04E39;
}
.head-top-line {
    display: flex;
}
.head-line-empty, .header-logo-block {
    width: 24%;
}
.head-top-line-links {
    width: 76%;
    background-color: #623B2A;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-top-line-links a {
    color: #fff;
    margin-left: 15px;
    white-space: nowrap;
}
.head-top-line-links a:hover {
    color: #E04E39;
}
.header-page-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.navbar {
    min-height: 0;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default {
    border: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #C39367;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
    color: #2C2A29;
    background-color: transparent;
}
.navbar-nav > li {
    border-right: 1px solid #4e3f30;
    margin: 15px 0;
}
.navbar-nav > li:last-child {
    border-right: none;
}
.header-logo-block img {
    width: 80%;
}
.navigation-title-block {
    width: 76%;
}
.main-title {
    font-size: 18pt;
    color: #623B2A;
}
.title-grey-text {
    font-size: 10pt;
    color: #8a8a8a;
    font-weight: bold;
}
.title-grey-text a {
    color: #8a8a8a;
    text-decoration: underline;
}
.title-grey-text a:hover {
    text-decoration: none;
}
.aside-menu-list {
    padding-left: 0;
}
.left-aside ul {
    list-style: none;
}
.left-aside ul ul {
    padding-left: 0;
}
.left-aside ul ul li a{
    padding-left: 20px;
}
.aside-menu-list a{
    background-color: rgba(195, 147, 103, 0.9);
    color: #fff;
    display: block;
    padding: 10px 24px 10px 10px;
}
.main-page-block {
    display: flex;
}
.left-aside {
    width: 24%;
}
.main-content {
    width: 76%;
    padding-left: 20px;
}
.aside-menu-list li {
    position: relative;
}
.aside-menu-list .angle-link-menu {
    position: absolute;
    right: 10px;
    z-index: 1;
    padding: 0;
    font-size: 22px;
    top: 5px;
    background-color: transparent;
}
.aside-menu-list .angle-link-menu:hover, .aside-menu-list .angle-link-menu:hover i {
    background-color: transparent;
    color: #E04E39;
}
.aside-menu-list a:hover {
    background-color: #E04E39;
}
.aside-menu-list a:hover i {
    background-color: #E04E39;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #E04E39;
}
.chevron-background:hover {
    color: #C39367;
}
.left-banner-block img {
    width: 100%;
}
.left-banner-block {
    margin-bottom: 30px;
}
.left-working-mode-title, .red-text, .red-text-end {
    color: #E04E39;
    font-size: 18px;
}
.left-working-mode-day {
    font-size: 18px;
}
.red-text {
    display: inline-block;
    width: 30px;
}
.left-working-mode {
    display: flex;
    justify-content: center;
}
.owl-carousel {
    margin-bottom: 20px;
}
.partners-content a, .main-page-news a {
    color: #C39367;
}
.partners-content a:hover, .main-page-news a:hover {
    color: #623B2A;
}

.news-item-block {
    width: 30%;
    margin-bottom: 30px;
}
.main-page-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-item-img img {
    width: 100%;
}
.main-content {
    color: #644b2d;
}
.partners-content {
    margin-bottom: 30px;
    padding: 20px 20px 20px 110px;
    background-color: rgb(242, 242, 242);
    background-image: url("../images/rss-icons-png-5.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.news-item-date, .news-item-read {
    font-size: 11.5px;
}
.news-item-pretext {
    overflow: hidden;
    margin-bottom: 10px;
    height: 111px;
    font-size: 13px;
}
.news-item-link a {
    font-weight: bold;
    text-decoration: underline;
}
.news-item-link a:hover {
    text-decoration: none;
}
.news-item-img {
    margin: 10px 0;
}
.catalog__navigation {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: solid 1px rgb(226, 226, 226);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog__navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.catalog__navigation ul li {
    margin: 0 5px;
}
.catalog__navigation ul li .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    color: #303030;
    font-size: 18px;
}
.catalog__navigation ul li .link.active {
    border-radius: 50%;
    background-color: #C39367;
    cursor: default;
    color: #fff;
}
.catalog__navigation ul li .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    color: #303030;
    font-size: 14px;
}

/*.footer-information {
    border-top: 1px solid #623B2A;
}*/
.footer-page-flex {
    display: flex;
}
.footer-copyright {
    width: 24%;
    padding: 25px 0;
    margin-right: 27px;
}
.footer-information {
    width: 76%;
    padding: 24px 0;
    background-color: #623B2A;
}
.footer-page {
    color: #644b2d;
    display: flex;
    align-items: flex-end;
}
.footer-page a {
    color: #644b2d;
}
.footer-page a:hover {
    color: #C39367;
}
.footer-social img {
    width: 30px;
}
.form-search-block {
    position: relative;
}
.form-search-block:after {content:""; clear:both; display:table}
.form-search-block form {
    width: 100%;
}
.form-search-block input {
    width: 100%;
    height: 34px;
    padding-left: 15px;
    border-radius: 15px;
    border: 2px solid #C39367;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.form-search-block input:focus {
    width: 100%;
}
.form-search-block button {
    width: 38px;
    height: 32px;
    background: none;
    border: none;
    position: absolute;
    top: 1px;
    right: 0;
}
.form-search-block button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #644b2d;
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.footer-links a {
    color: #fff;
    display: block;
    margin-bottom: 7px;
}
#button-up {
    display:none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline:none;
    width: 56px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url("../images/scrolltop.png") no-repeat 7px 11px transparent;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor:pointer;
    z-index: 9;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.owl-carousel2-item {
    padding: 10px;
}
.additionally-head {
    color: rgb(237, 83, 56);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.extral-links-additionally {
    background: rgb(242, 242, 242);
    padding: 20px;
    width: 64%;
}
.mobile-apps {
    width: 35%;
}
.additionally-information-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.additionally-item a {
    color: #333;
}
.additionally-item a:hover {
    color: rgba(197, 147, 104, 1);
}
.additionally-item {
    padding-left: 25px;
    position: relative;
    margin-bottom: 7px;
}
.additionally-item:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(197, 147, 104, 0);
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(197, 147, 104, 1);
    width: 15px;
    height: 15px;
    border-radius: 8px;
    left: 0;
    top: 4px;
}
.mobile-apps {
    background: rgba(243, 233, 225, 1);
    padding: 20px;
}
.mobile-apps .additionally-mobile-item {
    margin-bottom: 15px;
}
.additionally-mobile-item span {
    display: block;
    text-transform: uppercase;
    color: rgba(112, 65, 49, 1);
    font-weight: bold;
}
.additionally-mobile-item a {
    width: 100%;
    height: 58px;
    color: #333;
    display: block;
    border: 2px solid rgba(197, 147, 104, 1);
    border-radius: 6px;
    background: rgb(242, 242, 242);
    padding: 7px 0 7px 60px;
    position: relative;
}
.additionally-mobile-item a strong {
    display: block;
    color: rgba(127, 80, 56, 1);
}
.additionally-mobile-item a:after {
    height: 40px;
    width: 40px;
    content: '';
    display: block;
    top: 7px;
    left: 15px;
    position: absolute;
    font-family: "FontAwesome";
    color: rgba(127, 80, 56, 1);
    font-size: 40px;
    line-height: 40px;
}
.mobile-apps .additionally-mobile-item.ios a:after {
    content: '\f179';
}
.mobile-apps .additionally-mobile-item.android a:after {
    content: '\f17b';
}
.head-top-line-links a:first-child, .head-top-line-links a:nth-child(2), .head-top-line-links a:nth-child(3) {
    font-size: 12px;
}
.footer-column-block {
    width: 32%;
}
.mkgu-widget-btn {
    position: fixed;
    top: 150px;
    right: 0;
    width: 28px;
    height: 160px;
    background: #9c0;
    z-index: 1010;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
#desc-office {
    margin: 15px 0 10px 0;
    font-weight: bold;
}
.scheduleBlock {
    margin-bottom: 30px;
}
.hours-office {
    background-color: #C39367;
    padding: 10px;
    border: none;
    width: 100%;
}
.time img {
    margin-right: 0px;
}
.all-news-pagination {
    color: #C39367;
}
.all-news-pagination:hover {
    color: #623B2A;
}
.footer-social {
    display: flex;
}
.footer-social a {
    margin-right: 7px;
    font-size: 20px;
}
#specialversion2 img {
    height: 40px;
}
.select2-container {
    width: 100% !important;
}
.btn-form-feedback {
    background-color: #816255;
    border-color: #623b2a;;
}
.btn-form-feedback:hover {
    background-color: #623b2a;
    border-color: #623b2a;
}
@media(max-width: 1199px) {
    .nav > li > a {
        padding: 10px;
    }
    .partners-content {
        background-size: auto 60%;
        background-position: 0 100%;
    }
}
@media (max-width: 991px) {
    .navbar-nav > li {
        margin: 8px 0;
    }
    .navigation-title-block {
        width: 70%;
    }
    .head-line-empty, .header-logo-block {
        width: 26%;
    }
    .main-content {
        width: 74%;
        padding-left: 20px;
    }
    .pagination li {
        padding: 2px;
    }
    .additionally-information-block {
        flex-direction: column;
    }
    .extral-links-additionally, .mobile-apps {
        width: 100%;
    }
    .partners-content {
        background-size: auto 50%;
    }
    .footer-copyright {
        padding: 0;
    }
    .main-content {
        width: 70%;
    }
    .left-aside {
        width: 30%;
    }
    .footer-information {
        width: 70%;
    }
    .footer-copyright {
        width: 30%;
    }
    .main-title {
        font-size: 16pt;
    }
    .head-top-line-links {
        width: 100%;
    }
    .head-line-empty {
        width: 0;
    }
    .header-page-block {
        margin-top: 20px;
    }
    .header-logo-block {
        width: 30%;
    }
}
@media (max-width: 767px) {
    .header-page-block {
        flex-direction: column;
    }
    .navigation-title-block {
        width: 100%;
    }
    .header-logo-block {
        width: 100%;
        text-align: center;
    }
    .header-logo-block img {
        width: 280px;
    }
    .navbar-default .navbar-toggle {
        border-color: #623B2A;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #623B2A;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav > li {
        border-right: none;
        margin: 15px 0;
    }
    .main-page-block {
        flex-direction: column;
    }
    .left-aside {
        width: 100%;
    }
    .main-content {
        width: 100%;
    }
    .news-item-block {
        width: 48%;
    }
    .main-content {
        padding-left: 0;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .partners-content {
        background-image: none;
        padding: 20px;
    }
    .footer-page {
        align-items: flex-start;
        flex-direction: column;
    }
    .footer-copyright {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-information {
        width: 100%;
    }
    .catalog__navigation {
        flex-direction: column;
    }
    .footer-links {
        flex-wrap: wrap;
    }
    .footer-column-block {
        width: 48%;
        margin-bottom: 20px;
    }
    .footer-column-block:last-child {
        width: 100%;
        margin-bottom: 0;
    }
    .head-top-line-links a {
        margin-left: 10px;
    }
}
@media(max-width: 450px) {
    .news-item-block {
        width: 100%;
    }
    #specialversion2 img {
        height: 26px;
    }
}